{{#if loading}}
    loading messages ...
{{else}}
    <h3>{{format date "YYYY-MM-DD"}}</h3>
    <ul class="unstyled" >
        {{#each messages}}
            <li>
                {{format date "HH:mm"}} <strong>{{unbound username}}</strong> {{parse text}}
            </li>
        {{/each}}
    </ul>
{{/if}}